/**
 * Portfolio personnel - www.alexislcs.fr
 * Application développée par Alexis Lucas.
 *
 * Copyright © 2020 Alexis Lucas
 * Email : contact@alexislcs.fr
 */
 
[class="sidebar"] {
    height: 98vh;
}

[class="main"] {
    height: 98vh;
    width: -moz-available;
}

[id="root"] {
    display: flex;
}